<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WordAssistedTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WordAssistedTools.Properties.Settings>
            <setting name="UpperLimitTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FinalReservedTime" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ChangeSlideTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsAutoLoadAfterBrowse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAutoShowDifferAfterLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DifferenceType" serializeAs="String">
                <value>OnlyText</value>
            </setting>
            <setting name="WordToPptRules" serializeAs="String">
                <value>-:-讲稿</value>
            </setting>
            <setting name="UseLocalData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChatWaitTimeSeconds" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="MaximumQuantity" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="GptWebName" serializeAs="String">
                <value />
            </setting>
            <setting name="GptApiName" serializeAs="String">
                <value />
            </setting>
            <setting name="GptApiIsRemoveEmptyLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GptWebScale" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="GptApiTimeoutSecond" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="TransWebScale" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="TransWebName" serializeAs="String">
                <value />
            </setting>
            <setting name="TransApiName" serializeAs="String">
                <value />
            </setting>
            <setting name="TransApiAutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TransApiTimeoutSecond" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="GptApiTemplateName" serializeAs="String">
                <value>自由输入</value>
            </setting>
            <setting name="GptApiStreamingMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GptApiHistoryNum" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TransApiIsAutoTranslate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransApiSourceLan" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="TransApiTargetLan" serializeAs="String">
                <value>Chinese</value>
            </setting>
        </WordAssistedTools.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>